.page { display: flex; justify-content: center; align-items: center; height: 100vh; }
.container { background-color: #faebd7; border-radius: 5px; padding: 10px; text-align: center; }
.container_item { margin-top: 5px; margin-bottom: 5px; }